body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.head-back-potager {
    background-image: url('../images/head-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    background-image: url('../images/head-back.jpg');
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.containerwb {
    width: 40%;
    margin-left: 10%;
    padding: 20px;
    background-color: #e8f5e9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.containersoil {
    width: 40%;
    margin-left: 50%;
    padding: 20px;
    background-color: #e8f5e9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.big-text {
    width: 60%;
    font-size: 200%;
    text-align: center;
    margin: 0 auto;
    -webkit-text-stroke: 1px #0b391d;
}

.nos {
    font-size: 300%;
    color: #16771e;
    text-align: center;
    -webkit-text-stroke: 1px #0b391d;
}

.potager-text {
    color: #000;
    text-align: center;
}

.service {
    margin: 20px 0;
    padding: 15px;
    border-left: 5px solid #2e7d32;
    background: #e8f5e9;
}

.footer {
    background-color: #16771e; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    font-size: 16px; 
    border: 2px solid white; 
    border-radius: 10px; 
    margin: 20px;
}

/* haut */

.scroll-to-top {
    position: static;
    bottom: 20px;
    right: 20px;
    background: #16771e;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

.scroll-to-top:hover {
    background: #2e7d32;
}

html:has(:target) .scroll-to-top {
    display: block;
}
